<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="Spring-DI.xml"/>

    <!-- springDI -->
    <bean id="springDI" class="com.laowuandhisfriends.di.SpringDI">
        <!-- literal -->
        <property name="count" value="#{5}"/>
        <property name="message" value="The value is #{5}"/>
        <property name="frequency" value="#{89.77}"/>
        <property name="capacity" value="#{1e4}"/>
        <!--<property name="name" value="#{'Chuck'}"/>-->
        <property name="name" value='#{"Chuck"}'/>
        <property name="enabled" value="false"/>
        <property name="multiplier" value="#{T(java.lang.Math).PI}"/>
        <property name="randomNumber" value="#{T(java.lang.Math).random()}"/>
    </bean>
    <!-- instrumentalist -->
    <bean id="carl" class="com.laowuandhisfriends.di.Instrumentalist">
        <!-- reference -->
        <property name="song" value="#{kenny.song}"/>
        <property name="instrument" value="#{saxophone}"/>
    </bean>

    <!-- songSelector -->
    <bean id="songSelector" class="com.laowuandhisfriends.di.SongSelector"/>

    <!-- instrumentalist -->
    <bean id="car2" class="com.laowuandhisfriends.di.Instrumentalist">
        <!-- reference -->
        <property name="song" value="#{songSelector.selectSong()?.toUpperCase()}"/>
        <property name="instrument" value="#{saxophone}"/>
    </bean>

    <!-- util:list -->
    <util:list id="cities">
        <bean class="com.laowuandhisfriends.di.City" p:name="Chicago" p:state="IL" p:population="2853114"/>
        <bean class="com.laowuandhisfriends.di.City" p:name="Houston" p:state="TX" p:population="1279910"/>
    </util:list>

    <!-- util:map -->
    <bean id="chicago" class="com.laowuandhisfriends.di.City" p:name="Chicago" p:state="IL" p:population="2853114"/>
    <bean id="houston" class="com.laowuandhisfriends.di.City" p:name="Houston" p:state="TX" p:population="1279910"/>
    <util:map id="cityMap">
        <entry key="Chicago" value="#{chicago}"/>
        <entry key="Houston" value="#{houston}"/>
    </util:map>

    <!-- util:properties -->
    <util:properties id="cityProperties">
        <prop key="Chicago">Chicago:IL:2853114</prop>
        <prop key="Houston">Chicago:TX:1279910</prop>
    </util:properties>

    <!-- util:properties -->
    <util:properties id="jdbc" location="classpath:jdbc.properties"/>

    <!-- chooseCity -->
    <bean id="chosenCity" class="com.laowuandhisfriends.di.ChooseCity">
        <!--<property name="chosenCity" value="#{cities[1]}"/>-->
        <!--<property name="chosenCity" value="#{cities[T(java.lang.Math).random() * cities.size()]}"/>-->
        <property name="chosenCity" value="#{cityMap['Chicago']}"/>
        <property name="chosenCityString" value="#{cityProperties['Chicago']}"/>
        <property name="driverClass" value="#{jdbc['jdbc.driverClass']}"/>
        <!--<property name="homePath" value="#{systemEnvironment['HOME']}"/>-->
        <property name="homePath" value="#{systemProperties['file.separator']}"/>
        <property name="charAt" value="#{'This is my home'[3]}"/>
        <property name="bigCities" value="#{cities.?[population gt 100000]}"/>
        <property name="firstBigCity" value="#{cities.^[population gt 100000]}"/>
        <property name="lastBigCity" value="#{cities.$[population gt 100000]}"/>
        <property name="cityNames" value="#{cities.$[population gt 100000].![name + ', ' + state]}"/>
    </bean>
</beans>