<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd"
	default-init-method="begin" default-destroy-method="close">
	<!-- 声明萨克斯管 -->
	<bean id="instrument" class="com.entor.springdemo.Saxophone"
		init-method="init" destroy-method="destroy" />
	<!-- 声明奏者 -->
	<bean id="laowang" class="com.entor.springdemo.Instrumentalist"
		autowire="byName">
		<property name="song" value="#{'凉凉'}" />
	</bean>
	<!-- 声明奏者 -->
	<bean id="laozhang" class="com.entor.springdemo.Instrumentalist"
		autowire="byType">
		<property name="song" value="#{'凉凉'}" />
	</bean>
	<!-- 声明奏者 -->
	<bean id="laoli" class="com.entor.springdemo.Instrumentalist"
		autowire="constructor">
		<property name="song" value="#{'凉凉'}" />
	</bean>
</beans>