<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 启用基于注解的bean装配 -->
	<context:annotation-config />
	<!-- 声明萨克斯管 -->
	<bean id="saxophone" class="com.entor.springdemo.Saxophone" />
	<!-- 声明萨克斯管 -->
	<!-- <bean id="saxophone2" class="com.entor.springdemo.Saxophone" /> -->
	<!-- 声明奏者 -->
	<bean id="laowang" class="com.entor.springdemo.Instrumentalist">
		<property name="song" value="#{'凉凉'}" />
	</bean>
</beans>