<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 声明JDBC属性列表 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 声明DBCP数据源连接池bean -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClass}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<!-- maxActive: 最大连接数量 -->
		<property name="maxTotal" value="${jdbc.maxTotal}" />
		<!-- minIdle: 最小空闲连接 -->
		<property name="minIdle" value="${jdbc.minIdle}" />
		<!-- maxIdle: 最大空闲连接 -->
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<!-- initialSize: 初始化连接 -->
		<property name="initialSize" value="${jdbc.initialSize}" />
	</bean>
	<!-- 声明JdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" value="#{dataSource}" />
	</bean>
	<!-- 声明AccountDAO -->
	<bean id="accountDAO" class="com.entor.springdemo.account.dao.impl.AccountDAOImpl">
		<property name="jdbcTemplate" value="#{jdbcTemplate}" />
	</bean>
	<!-- 声明AccountService -->
	<bean id="accountService"
		class="com.entor.springdemo.account.service.impl.AccountServiceImpl">
		<property name="accountDAO" value="#{accountDAO}" />
	</bean>

	<!-- 声明事务管理器bean -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" value="#{dataSource}" />
	</bean>

	<!-- 声明事务通知方法 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<!-- 声明事务切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.entor.springdemo.account.service.impl.AccountServiceImpl.*(..))" />
	</aop:config>
</beans>