<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- juggler -->
    <bean id="duke" class="com.laowuandhisfriends.di.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <!-- Sonnet29 -->
    <bean id="sonnet29" class="com.laowuandhisfriends.di.Sonnet29"/>

    <!-- poeticJuggler -->
    <bean id="poeticDuke" class="com.laowuandhisfriends.di.PoeticJuggler">
        <constructor-arg value="15"/>
        <!--<constructor-arg ref="sonnet29"/>-->
        <constructor-arg>
            <bean class="com.laowuandhisfriends.di.Sonnet29"/>
        </constructor-arg>
    </bean>

    <!-- saxophone -->
    <bean id="saxophone" class="com.laowuandhisfriends.di.Saxophone"/>

    <!-- piano -->
    <bean id="piano" class="com.laowuandhisfriends.di.Piano"/>

    <!-- instrumentalist -->
    <bean id="kenny" class="com.laowuandhisfriends.di.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <!--<property name="instrument" ref="saxophone"/>-->
        <property name="instrument">
            <bean class="com.laowuandhisfriends.di.Piano"/>
        </property>
    </bean>
    <bean id="kenny2" class="com.laowuandhisfriends.di.Instrumentalist" p:song="Jingle Bells"
          p:instrument-ref="saxophone"/>

    <!-- oneManBand -->
    <bean id="hank" class="com.laowuandhisfriends.di.OneManBand">
        <property name="instrumentCollection">
            <list>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
            </list>
        </property>
        <property name="instrumentList">
            <list>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
            </list>
        </property>
        <property name="instruments">
            <list>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
            </list>
        </property>
        <property name="instrumentSet">
            <set>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
            </set>
        </property>
        <property name="instrumentMap">
            <map>
                <entry key="saxophone" value-ref="saxophone"/>
                <entry key="piano" value-ref="piano"/>
            </map>
        </property>
        <property name="instrumentProperties">
            <props>
                <prop key="saxphone">Saxphone</prop>
                <prop key="piano">Piano</prop>
            </props>
        </property>
    </bean>
</beans>